script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js") 
script(src="http://code.jquery.com/jquery-1.10.1.min.js") 

script(src="/javascripts/create.js")
.container
    .header
        ul(class="nav nav-pills pull-right")
            li
                h5.brand(href="http://twitter.com/#{user.username}") Logged in as #{user.username}
            li
                img.img-circle(src="#{user.profile_data.icon[0].value}", width="40", height="40")
            li.active
                a(href="/app") Home
            li
                a(href="/app/quests") Quests
            li
                a(href="/p/#{user.username}") Profile
            li
                a(href="/logout") Logout

        h3.text-muted Life Game
    br  


    div(class="col-xs-12")
        form.form.form-horizontal(ng-controller="formCtrl")
            fieldset
                .alert.alert-success(ng-hide="alert_view") {{alert}}
                legend New {{type()}}
                .form-group
                  label.control-label(for='task_name') Name
                  .controls
                    input#task_name.form-control.input-xxlarge(ng-model="thing_name", name='task_name', type='text', placeholder='Take out the Garbage', required='')
                .form-group
                  label.control-label(for='appendedtext') Date
                  .controls
                    .input-append
                        input#appendedtext.form-control.input-xlarge(ng-model="thing_date", name='appendedtext', placeholder='***** DATE GOES HERE *****', type='text')
                        
                //
                   Textarea 
                .form-group
                  label.control-label(for='description') Description
                  .controls
                    textarea#description.form-control(ng-model="thing_description", name='description') Take the bin out
                //
                   Multiple Radios
                .form-group
                  label.control-label(for='repeating_group') Finished...
                  .controls
                    label.radio(for='repeating_group-0')
                      input#repeating_group-0(type='radio', ng-model="radio_control" ,name='repeating_group', value='Once', checked='true', required='required')
                      | Once
                    label.radio(for='repeating_group-1')
                      input#repeating_group-1(type='radio', ng-model="radio_control",name='repeating_group', value='Daily', required='required')
                      | Daily
                    label.radio(for='repeating_group-2')
                      input#repeating_group-2(type='radio', ng-model="radio_control",name='repeating_group', value='Weekly', required='required')
                      | Weekly
                    label.radio(for='repeating_group-3')
                      input#repeating_group-3(type='radio', ng-model="radio_control",name='repeating_group', value='Monthly', required='required')
                      | Monthly
                //
                   Appended Input
                .form-group
                  label.control-label(for='appendedtext') Reward
                  .controls
                    .input-append
                      input#appendedtext.form-control.input-xlarge(ng-model="thing_reward", name='appendedtext', placeholder='15', type='number')
                    p.help-block Adds {{reward()}} GP to your total
                //
                   Appended Input
                .form-group
                  label.control-label(for='appendedtext') Penalty
                  .controls
                    .input-append
                      input#appendedtext.form-control.input-xlarge(ng-model="thing_penalty",name='appendedtext', placeholder='0', type='number')
                    p.help-block Subtracts {{penalty()}} GP from your total
                //
                   Textarea 
                .form-group
                  label.control-label(for='tags') Tags: 
                  br
                  i
                    label.control-label() {{getTags()}}
                  .controls
                    textarea#tags.form-control(name='tags' ng-model="thing_tags") Trashcan, Can, Sanitation
                .text-center
                    button.btn.btn-primary(ng-click="send()") Done