form.form-horizontal
fieldset
  legend Form Name
    Text input
    .control-group
      label.control-label(for='task_name') Name
      .controls
      input#task_name.input-xxlarge(name='task_name', type='text', placeholder='Take out the Garbage', required='')
      //
      Appended Input
      .control-group
      label.control-label(for='appendedtext') Date
      .controls
      .input-append
      input#appendedtext.input-xlarge(name='appendedtext', placeholder='***** DATE GOES HERE *****', type='text')
      span.add-on append
      //
      Textarea 
      .control-group
      label.control-label(for='description') Description
      .controls
      textarea#description(name='description') Take the bin out
      //
      Multiple Radios 
      .control-group
      label.control-label(for='repeating_group') Finished...
      .controls
        label.radio(for='repeating_group-0')
        input#repeating_group-0(type='radio', name='repeating_group', value='Once', checked='checked', required='required')
        | Once
        label.radio(for='repeating_group-1')
        input#repeating_group-1(type='radio', name='repeating_group', value='Daily', required='required')
        | Daily
        label.radio(for='repeating_group-2')
        input#repeating_group-2(type='radio', name='repeating_group', value='Weekly', required='required')
        | Weekly
        label.radio(for='repeating_group-3')
        input#repeating_group-3(type='radio', name='repeating_group', value='Monthly', required='required')
        | Monthly
      //
      Appended Input
      .control-group
        label.control-label(for='appendedtext') Reward
      .controls
        .input-append
      input#appendedtext.input-xlarge(name='appendedtext', placeholder='15', type='text')
      span.add-on GP
      p.help-block Adds 15 GP to your total
      //
      Appended Input
      .control-group
      label.control-label(for='appendedtext') Penalty
      .controls
      .input-append
      input#appendedtext.input-xlarge(name='appendedtext', placeholder='15', type='text')
      span.add-on GP
      p.help-block Subtracts 15 GP from your total
      //
      Textarea 
      .control-group
      label.control-label(for='tags') Tags
      .controls
      textarea#tags(name='tags') Trashcan, Can, Sanitation
