!!!
html(ng-app)
	head
		title= "Life"
		link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='text/javascript', href='/javascripts/bootstrap.min.js')
		link(rel="text/javascript", href="javascripts/angular.min.js")
		link(rel="text/javascript", href="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js")	
		link(rel="stylesheet", href="/stylesheets/datepicker.css")
		link(rel="text/javascript", href="/javascripts/bootstrap-datepicker")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	body!= body